REGISTRY_HTTP_TLS_CERTIFICATE=/certs/domain.crt
REGISTRY_HTTP_TLS_KEY=/certs/domain.key
REGISTRY_AUTH=htpasswd
REGISTRY_AUTH_HTPASSWD_PATH=/auth/htpasswd
REGISTRY_AUTH_HTPASSWD_REALM=Registry Realm
REGISTRY_STORAGE=azure
REGISTRY_STORAGE_AZURE_ACCOUNTNAME="<storage-account>"
REGISTRY_STORAGE_AZURE_ACCOUNTKEY="<storage-key>"
REGISTRY_STORAGE_AZURE_CONTAINER="<container-name>"
LETSENCRYPT_EMAIL=email@email.com
LETSENCRYPT_DOMAIN=www.example.com
